@font-face {
	font-family: 'The Dark Titan Classic';
	src: url('../fonts/The Dark Titan Classic.ttf') format('truetype');
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

#header {
	background-image: url('../images/fondo1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

#header img {
	width: 200px;	
}

#formulario {
	padding: 20px;
}

#formulario form {
	margin: 5px;
}

#formulario label {
	font-family: 'The Dark Titan Classic';
	color: mintcream;
}

.usuario {
	margin: 5px;	
}

.password {
	margin: 5px;
}

#navegator {
	background-color: black;
	display: flex;
	justify-content: center;
}

#navegator ul {
	list-style: none;
	display: flex;
	gap: 300px;
}

#navegator ul li  {
	font-family: 'The Dark Titan Classic';
	color: mintcream;
}

a {
	text-decoration: none;
}

#main-background img {
	position: relative;
	width: 100%;
}

.main-title {
	display: flex;
	top: 200px;
	left: 600px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
}

.main-title h1 {
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'The Dark Titan Classic';
	color: mintcream;
}

#contenedor-tabla {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 721px;
	height: 900px;
	top: 350px;
	left: 600px;
}

table {
	position: absolute;
	left: 116px;
	top: 30px;
}

table tr {

}

@keyframes parpadeo {
	0% {
		border-color: black;
	}
	50% {
		border-color: darkblue;
	}
	100% {
		border-color: blue;
	}
}

table td img {
	border: solid 2px;
	width: 154px;
	height: 158px;
	animation: parpadeo 1s infinite;	
}

table td img:hover {
	filter: brightness(1.3);
}