@font-face {
	font-family: 'The Dark Titan Classic';
	src: url('../fonts/The Dark Titan Classic.ttf') format('truetype');
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

#header {
	background-image: url('../images/fondo1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

#header img {
	width: 200px;	
}

#formulario {
	padding: 20px;
}

#formulario form {
	margin: 5px;
}

#formulario label {
	font-family: 'The Dark Titan Classic';
	color: mintcream;
}

.usuario {
	margin: 5px;	
}

.password {
	margin: 5px;
}

#navegator {
	background-color: black;
	display: flex;
	justify-content: center;
}

#navegator ul {
	list-style: none;
	display: flex;
	gap: 300px;
}

#navegator ul li  {
	font-family: 'The Dark Titan Classic';
	color: mintcream;
}

a {
	text-decoration: none;
}

#fondo-pagina img {
	position: relative;
	width: 100%;
}

.main-title {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 1000px;
	height: 50px;
	top: 400px;
	left: 350px;
	padding: 90px;
	border-radius: 20px;
	border: solid 1px;
	border-color: linear-gradient(to right,black,grey);		
}

.main-title h1 {
	font-family: 'The Dark Titan Classic';	
	color: mintcream;
	font-size: 80px;
	text-align: center;
	margin: 0;
}

#contenedor-secciones img {
    position: relative;
	width: 100%;
}

.seccion-titulo {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 1000px;
	width: 1000px;
	height: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	left: 450px;
	border-radius: 5px;
	border: solid 2px;
}

.seccion-titulo h1 {
	font-family: 'The Dark Titan Classic';	
	color: mintcream;
	font-size: 80px;
	text-align: center;
	margin: 0;
}

#seccion-carteles {
	flex-direction: column;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 1150px;
	width: 300px;
	height: 500px;
	left: 50px;
	width: 500px;
	border-radius: 10px;
	border: solid 2px black;
}

.anuncio-titulo h2 {
	font-family: 'The Dark Titan Classic';	
	color: mintcream;
	margin: 0;
	padding-top: 15px;
	text-align: center;
	font-size: 25px;
}

@keyframes flash {
	0% {
		border-color: white;		
	}

	50% {
		border-color: darkorange;
	}

	100% {
		border-color: darkred;
	}
}

#seccion-carteles .banner img {
	top: 25px;
	width: 450px;
	left: 15px;
	margin: 10px;
	border-radius: 10px;
	border: solid 2px;
	animation: flash 2s infinite ;
}

#seccion-carteles .banner img:hover {
	filter: brightness(1.8);
}

#seccion-sinopsis {
	flex-direction: column;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 1150px;
	width: 300px;
	height: 500px;
	left: 600px;
	width: 500px;
	border-radius: 10px;
	border: solid 2px black;
}

#seccion-sinopsis img { 
 	top: 20px;
	left: 50px;
	width: 400px;
	border: solid 3px;
	border-image: linear-gradient(to right, darkgrey,grey)1;
}

#seccion-sinopsis p {
	position: absolute;
	margin: 15px;
	font-family: 'The Dark Titan Classic';
	color: mintcream;
	text-align: center;
	top: 260px;
}

#seccion-video {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 1150px;
	height: 500px;
	left: 1150px;
	width: 700px;
	border-radius: 10px;
	border: solid 2px black;
}

.video iframe {
	position: absolute;
	top: 70px;
	left: 75px;
	height: 400px;
}

.anuncio-juego {
	position: absolute;
	width: 700px;
	top: 1700px;
	left: 550px;
	border: solid 3px;
	border-image: linear-gradient(to right,darkorange,orangered,orange,white)1;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.anuncio-juego:hover {
	filter: brightness(1.8);
}

#pie-pagina {
	background-color: black;
	padding: 10px;
	margin-top: 5px;
}

#pie-pagina p { 
	font-family: 'The Dark Titan Classic';
	color: mintcream;
	font-size: 10px;
	text-align: center;
}
