@font-face {
	font-family: 'The Dark Titan Classic';
	src: url('../fonts/The Dark Titan Classic.ttf') format('truetype');
}

body {
	background-image: url('../images/gothic3.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	padding: 0;
	height: auto;
}

header {
	background-image: url('../images/fondo9.jpg');
	background-repeat: no repeat;	
	background-size: 100%;
	background-position-y: 415px;
	padding: 5px;
}

header #header-container {
	display: flex;
	justify-content: space-between;
}

header #header-container img {
	width: 150px;
	transition: transform 0.3s ease, filter 0.3s ease;
}

header #header-container img:hover {
	filter: brightness(1.8);
}

header .formulario {
	margin-right: 15px;
	margin-top: 15px;
}

header .formulario .texto {
	font-family: 'The Dark Titan Classic';
	color: wheat;
	margin-left: 5px;
}

header .formulario .input {
	border: solid 1px black;
}

#navegator {
	background-color: black;
	display: flex;
	justify-content: center;
}

#navegator ul {
	list-style: none;
	display: flex;
	gap: 100px;
}

#navegator a {
	font-family: 'The Dark Titan Classic';
	text-decoration: none;
	color: wheat;
}

#navegator li:hover {
	filter: brightness(1.8);	
}

.main-content {
	position: relative;
	background-image: url('../images/fondovideos.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 20px;
	border-style: double;
	border-color: wheat;
	top: 15px;
	left: 100px;
	width: 1700px;
	height: 400px;
	display: flex;
	padding: 10px;
}

.main-content .main-title  h1 {
	position: absolute;
	font-family: 'The Dark Titan Classic';
	font-size: 150px;
	color: white;
	left: 100px;
	top: 45px;
	text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.main-content img {
	position: absolute;
	right: 40px;
	width: 950px;
}

#publicidad-conteiner {
	background-color: rgba(0, 0, 0, 0.6);
	width: 500px;
	top: 100px;
	positiosn: relative;

}