body {
	margin: 0;
	padding: 0;
}

header {
	background-image: url('../images/fondo1.jpg');
	background-repeat: no repeat;	
	background-size: 100%;
}

header #header-container {
	display: flex;
	justify-content: space-between;
}

header #header-container img {
	width: 150px;
}

header .formulario {
	margin-right: 15px;
	margin-top: 15px;
}
